body{
	background-color:#0000cc;
}
#bar{
	background-color: #4c271a
	
}
#logo {
	position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
	width: 150px;
	height: 75px
      
}
#inside {
	width: 1200px;
        border: px;
      	float: center;	
}

#title{
	font-size: 30px;
	font-style: italic;
}


#buy {
	width: 300px;
        border: 25px;
        padding: 25px;
        margin: 25px;
	font-size: 30px;
	
}

#footer {
	margin-left: .4em;
        padding-top: 5em;
        clear: both;
        text-align: center;
        font-sixe: 50px;
        font-weight: 900;
}


