#nav {
        text-align: right;
	float: right;
	right: 6em;
        top: 6em;
	width: 1700px;
	height: 20px;
        border: px; 
	padding: 25px;
        margin: px;
	background-color: #a78555;
	
}

.navItem {
	color: #49352A;
        background-color: ;
        padding: .5em .5em 0.5em;
        font-family:"Arial", Helvetica, sans-serif;
	font-size: 1em;
        font-weight: bolder;
        text-decoration: none;
        margin: .2em;
        border-radius: 5px;
}

.navItem:hover, .navItem:focus {
        background-color: #d9d9d9;;
}

.active {
        color: #003399;
}
